
/* Styling for page header */
h1 {
  font-family: 'Permanent Marker', cursive;
}

#headerRow {
  text-align: center;
}

/*Generic visual styling*/
h2, h3, h4, p, body {
  font-family: 'Covered By Your Grace', cursive;
}

.centerText {
  text-align: center;
}

.topBottomMargin {
  margin-top: 40px;
  margin-bottom: 20px;
}







/* Google Fonts for reference:
font-family: 'Permanent Marker', cursive;
font-family: 'Covered By Your Grace', cursive;
*/
